<ion-header class="ion-no-border">
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">Nuevo Manto. Preventivo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <form [formGroup]="FormManto">
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Nombre Documento: </ion-label>
          <ion-input type="text" placeholder="Servicio" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Semestre: </ion-label>
          <ion-select value="peperoni" placeholder="Selecciona el semestre correspondiente.">
            <ion-select-option value="Enero-Junio">Enero-Junio</ion-select-option>
            <ion-select-option value="Agosto-Diciembre">Agosto-Diciembre</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Año: </ion-label>
          <ion-datetime cancelText="Cancelar" doneText="Aceptar" displayFormat="YYYY"  placeholder="Año"></ion-datetime>
        </ion-item>
      </ion-list>
    
        <ion-button slot="end" color="success" expand="block" shape="round" (click)="Guardar()" >Guardar</ion-button>
      
    </form>


</ion-content>
