<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Firma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formFirma">
    <ion-list>
      <ion-item>
        <ion-label>Nombre Completo:</ion-label>
        <ion-input type="text" formControlName="elabora" placeholder="Nombre completo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Fecha:</ion-label>
          <ion-datetime formControlName="fecha_elaboracion" display-format="DD/MMMM/YYYY"></ion-datetime>
      </ion-item>
    </ion-list>
    <ion-button (click)="onFirma()" expand="block" shape="round"> Generar </ion-button>
  </form>
</ion-content>
