
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Administrador</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="openMenu2()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onCerrarSesion($event)">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>   
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>ADMINISTRADOR</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Bienvenido !!!
    </ion-card-content>
  </ion-card>

</ion-content>
