.logo-tec{
    text-align: center;
    max-width: 125px;
    height: 125px;
    padding: .8em;
    height: 12vh;
    display:block;
    margin:auto;
}

.info-login {
    font-size: 14;
    text-align: center;
    color: gray;
}

.info-login span {
    color: blue;
}