<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-button (click)="irA_lista()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="ModalVerificacion()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Lista de Verificación</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid class="ion-text-center">


    <ion-row class="header-row">
      <ion-col>
        <ion-text>No.</ion-text>
      </ion-col>

      <ion-col>
        <ion-text>Espacio Revisado</ion-text>
      </ion-col>

      <ion-col>
        <ion-text>Hallazgos</ion-text>
      </ion-col>

      <ion-col>
        <ion-text>Atendido</ion-text>
        <ion-row>
          <ion-col>
            Sí
          </ion-col>
          <ion-col>
            No
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>


    <ion-row *ngFor="let espac_rev of listar_esp">
      <ion-col>
        {{espac_rev.id_cu}}
      </ion-col>
      <ion-col>
        <ion-text>
          {{espac_rev.espacio}}
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-text>
          {{espac_rev.hallazgo}}
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-text>
            {{espac_rev.atendido}}
        </ion-text>
      </ion-col>
    </ion-row>

  
  </ion-grid>


</ion-content>