<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-button (click)="openMenu1()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="ModalVerificacion()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Lista de Verificación</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >

  <ion-grid class="ion-text-center">


    <ion-row class="header-row" >

      <ion-col>
        <ion-text>Espacio Revisado</ion-text>
        
      </ion-col>
             
      <ion-col>
        <ion-text>Hallazgo</ion-text>
      </ion-col>

      <ion-col>
        <ion-text>Atendido</ion-text>
        <ion-row>
          <ion-col>
            Sí
          </ion-col>
          <ion-col>
            No
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    

    <ion-row >
      <ion-col *ngFor="let cuerpo of list" >
       
        <ion-list>
          <ion-item-sliding>
          <ion-item>
          <ion-label>{{cuerpo.espacio }}</ion-label>
          <ion-label></ion-label>
          <ion-label>{{cuerpo.hallazgo}}</ion-label>
          <ion-label></ion-label>
           <ion-label>{{cuerpo.atendido }}</ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="success" >
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" >
            <ion-icon slot="icon-only" name="trash" (click)="eliminarcuerpo(cuerpo.id_cu)"></ion-icon>
          </ion-item-option>
         
        </ion-item-options>
      </ion-item-sliding>
        </ion-list>

      </ion-col>
    </ion-row>

  
  </ion-grid>


</ion-content>