<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-button (click)="openMenu1()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="abrirModal()">
        <ion-icon slot="icon-only" name="add" ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Solicitud de Manto. Correctivo</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-list #lista >
    <ion-item-sliding >
      <ion-item>
        <ion-label>
        </ion-label>
        <ion-button fill="clear" slot="end" (click)="DescargarPDF()">
          <ion-icon slot="icon-only" name="arrow-down-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="primary" (click)="firmar()">
          <ion-icon slot="icon-only" name="qr-code-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option color="success" (click)="editarLista()">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="eliminarLista()">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option color="warning" (click)="compartirLista()">
          <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>
  
</ion-content>
