<ion-header>
  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-button (click)="openMenu1()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Orden de Trabajo</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="abrirModal()">
        <ion-icon name="add" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">


</ion-content>
