<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Recibido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  

    <ion-list #lista>
      <ion-item-sliding *ngFor="let oficio of listarenvoficio; index as i">
        <ion-item>
          <ion-label>
            <p>{{i+1}} {{oficio.nombre_o}}</p>
            <p>{{oficio.fecha}}</p>
            <p>{{oficio.nombred}}</p>
            <p>{{oficio.nombre_p}}{{oficio.apaterno}} {{oficio.amaterno}}</p>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="Editar(oficio)">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="Descargar()">
            <ion-icon slot="icon-only" name="cloud-download-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
    
      </ion-item-sliding>
    </ion-list>

 

</ion-content>


  <!--
 <h2 class="ion-text-center">Notificaciones Recibidas</h2>
  <ion-grid class="ion-margin">
   <ion-row>
     <ion-col>No.</ion-col>
     <ion-col>Documento</ion-col>
     <ion-col>Departamento</ion-col>
     <ion-col>Responsable</ion-col>
     <ion-col>Opciones</ion-col>
   </ion-row>
   <ion-row *ngFor="let oficio of listarenvlista; index as i">
     <ion-col>{{ i + 1 }}</ion-col>
     <ion-col>{{ oficio.nombre_o }}</ion-col>
     <ion-col>{{ oficio.nombred }}</ion-col>
     <ion-col>{{ oficio.nombre_p }}{{oficio.apaterno}}{{oficio.amaterno}}</ion-col>
     <ion-col>
       <ion-button (click)="onFirmar()">
         <ion-icon name="qr-code-outline"></ion-icon>
       </ion-button>
       <ion-button (click)="onDescargar()">
         <ion-icon name="arrow-down-outline"></ion-icon>
       </ion-button>
       <ion-button (click)="onCompartir()">
         <ion-icon name="share-social-outline"></ion-icon>
       </ion-button>
     </ion-col>
   </ion-row>
   
 </ion-grid>
  -->
