<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Listado de Oficios</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu1()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="ModalOficio()">
        <ion-icon slot="start" name="add"></ion-icon>
        Nuevo
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar text="buscar" placeholder="Buscar oficios..."></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

<div id="container">
  <ion-list>
      <ion-list-header color="primary">
        <ion-label class="ion-text-center" size="2">N°.</ion-label>
        <ion-label class="ion-text-center" size="4">Nombre</ion-label>
        <ion-label class="ion-text-center" size="2">Eliminar</ion-label>
        <ion-label class="ion-text-center" size="4">Opciones</ion-label>
       
      </ion-list-header>

      <ion-item *ngFor="let oficio of datos">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-center" size="2">
              {{oficio.numero}}
            </ion-col>
            <ion-col class="ion-text-center" size="4">
                {{oficio.nombre_ofic}}
            </ion-col>
            <ion-col class="ion-text-center" size="2">
              <ion-button color="danger" (click)="onEliminar()">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col class="ion-text-center" size="4">
              <ion-button color="light" (click)="onDescargar()">
                <ion-icon name="cloud-download-outline"></ion-icon>
              </ion-button>
              <ion-button color="light" (click)="onEnviar()">
                <ion-icon name="share-social-outline">
                  <!--<ion-select placeholder="Selecciona el Depto." formControlName="departamento" (ionChange)="countryChange($event)">
                    <ion-select-option *ngFor="let depto of select_depto" [value]="depto.id">{{depto.nombre_depto}}</ion-select-option>
                  </ion-select>-->
                </ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
  </ion-list>
  
</div>
  
</ion-content>